<div class="job-listings-component">
<div class="job-message">
    Okay, you won’t see this anymore.
  </div>
  <div class="job-listings">
    <!-- Job listings will be populated here via JavaScript -->
  </div>
</div>
{{ attach_library('demo/job_listing') }}