@use '../../../src/scss/settings' as *;

.modal-popup {
	&__content {
		position: absolute;
		top: 0%;
		left: 50%;
		width: 100%;
		max-width: 1000px;
		padding: 20px;
		transform: translate(-50%, -50%);
		background-color: $color--white;
		box-shadow: 0 4px 10px rgba(0 0 0 / 10%);
	}

	&__data {
		display: flex;
		
		&.speaker-card {
			max-width: fit-content;
			padding: 0;
			text-align: left;
			box-shadow: none;
		}
	}

	&__close {
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;
		font-size: $font-size--xl;
	}
}
